<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>Contas a Receber</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a ui-sref="app.receber-criar()" class="btn btn-add">Adicionar Conta</a>
    </div>
    <div class="col-md-10">
        <div class="panel">
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <input type="search" placeholder="Pesquisar" ng-model="search" class="form-control">
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Vencimento</th>
                                <th>Cliente</th>
                                <th>Status</th>
                                <th> Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in recebers | filter:search">
                                <td>{{p.idcontasreceber}}</td>
                                <td>{{p.titulo}}</td>
                                <td>R$ {{p.valor_conta}}</td>
                                <td>{{p.data_vencimento | date:'dd/MM/yyyy '}}</td>
                                <td>{{p.idcliente.nome}}</td>
                                <td>{{p.status}}</td>
                                <th>
                                    <a href="javascript:;" ui-sref="app.receber-editar({id:p.idcontasreceber})"><span class="fa fa-pencil"></span></a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>