<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>Servico</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a ui-sref="app.servico-criar()" class="btn btn-add">Adicionar Servico</a>
    </div>
    <div class="col-md-10">
        <div class="panel">
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <input type="search" placeholder="Pesquisar" ng-model="search" class="form-control">
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Status</th>
                                <th> Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in servicos | filter:search">
                                <td>{{p.idservico}}</td>
                                <td>{{p.nome}}</td>
                                <td>{{p.valor}}</td>
                                <td>{{p.status}}</td>
                                <th>
                                    <a href="javascript:;" ui-sref="app.servico-editar({id:p.idservico})"><span class="fa fa-pencil"></span></a>
                                    <a href="javascript:;" ng-click="delete(p.idservico)"><span class="fa fa-remove"></span></a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>