<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>Fornecedor</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a ui-sref="app.fornecedor-criar()" class="btn btn-add">Adicionar Fornecedor</a>
    </div>
    <div class="col-md-10">
        <div class="panel">
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <input type="search" placeholder="Pesquisar" ng-model="search" class="form-control">
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Razão Social</th>
                                <th>CPF/CNPJ</th>
                                <th>Telefone</th>
                                <th>Site</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in fornecedors | filter:search">
                                <td>{{p.idfornecedor}}</td>
                                <td>{{p.nome}}</td>
                                <td>{{p.razao_social}}</td>
                                <td>{{p.cpf_cnpj}}</td>
                                <td>{{p.telefone}}</td>
                                <td>{{p.site}}</td>

                                <th>
                                    <a href="javascript:;" ui-sref="app.fornecedor-editar({id:p.idfornecedor})"><span class="fa fa-pencil"></span></a>
                                    <a href="javascript:;" ng-click="delete(p.idfornecedor)"><span class="fa fa-remove"></span></a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>