<!-- FORMULARIO -->
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Formulario
            </div>
        </div>
        <div class="panel-body">
            <form name="clienteForm" role="form" novalidate>
                <div class="form-group form-group-default required ">
                    <label>Cliente : </label>
                    <select name="" id="" class="form-control" required ng-model="object.idcliente" ng-options="f.nome for f in clientes track by f.idcliente">
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                            <label>Data: </label>
                            <ng-datepicker ng-name="effectiveBeginning" ng-required="true" ng-model="object.data" buttonText="Show calendar" ng-class=""
                                native-class="form-control input-text"></ng-datepicker>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group form-group-default required">
                            <label> Status: </label>
                            <select name="" id="" class="form-control" required ng-model="object.status">
                                <option value=""></option>
                                <option value="Agendado">Agendado</option>
                                <option value="Fechado">Fechado</option>
                                <option value="Cancelado">Cancelado</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 ">
                        <div class="form-group form-group-default required">
                            <label>Descrição : </label>
                            <textarea class="form-control " style="min-height:120px;" required ng-model="object.observacao"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group form-group-default required">
                            <label> Serviço: </label>
                            <select name="" id="" class="form-control" required ng-model="object.idservico" ng-options="s.nome for s in servicos track by f.idservico">
                            <option value=""select="true"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="error">{{message}}</div>
                    </div>
                    <div class="col-sm-12">
                        <a href="javascript:;" class="btn btn-add" ng-click="submitForm(clienteForm)">Salvar</a>
                        <a ui-sref="app.cliente " class=" btn btn-search ">Cancelar</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- END FORMULARIO -->