<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>Servico</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a ui-sref="app.servico-criar()" class="btn btn-add">Adicionar Servico</a>
    </div>
    <div class="col-md-10">
        <div class="panel">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Status</th>
                                <th>Data Criação</th>
                                <th> Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in servicos | filter:search">
                                <td>{{p.id}}</td>
                                <td>{{p.nome}}</td>
                                <td>{{p.demanda}}</td>
                                <td>{{p.sistema}}</td>
                                <td>{{p.situacao}}</td>
                                <td>{{p.responsavel}}</td>
                                <td>{{p.vencimento | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                <th>
                                    <a href="javascript:;" ui-sref="app.servico-editar({id:p.id})"><span class="fa fa-pencil"></span></a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>